<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="utf-8">
        <title>Sage Flick</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="fav.png" sizes="192x192" rel="icon" />


        <!--Google Font-->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <!---->


        <link href="css/normalize.css" rel="stylesheet"><!--normalize Stylesheet-->
        <link href="css/custom_icon.css" rel="stylesheet"><!--Custom Icon Set-->
        <link href="css/animation.css" rel="stylesheet"><!--Animation-->
        <link rel="stylesheet" href="slider/slider.css"><!--Slider-->


        <link href="owl-carousel/owl.carousel.css" rel="stylesheet"><!-- Owl Carousel Assets -->
        <!--Service Pop-->

        <link type="text/css" rel="stylesheet" href="service-popup/featherlight.min.css" title="Featherlight Styles" />
        <link type="text/css" rel="stylesheet" href="service-popup/style.css" title="Featherlight Styles" />




        <!--Carousel-->
        <link rel="stylesheet" type="text/css" href="carousel/css/component.css" />





        <link href="css/custom.css" rel="stylesheet">
        <link href="css/C_Responsive.css" rel="stylesheet"><!--Custom Responsive Stylesheet-->
        <!--[if gte IE 9]>
          <style type="text/css">
            .gradient {
               filter: none;
            }
          </style>
        <![endif]-->




    </head>
</head>
<body class="top__space" id="home">

    <header id="header">
        <div class="centerDiv">
            <a href="#home" class="logo"><img src="images/logo.png" alt="Sage Flick" title="Sage Flick"></a>

            <div class="top_right">
                <div class="social">
                    <a href="https://www.facebook.com/sageflick" target="_blank"><i class="icon-ico_fb"></i></a>
                    <a href="#"><i class="icon-ico_tw"></i></a>
                    <a href="https://plus.google.com/100787900227328691342" target="_blank"><i class="icon-ico_gplus"></i></a>
                    <!--<a href="#"><i class="icon-ico_yt"></i></a>-->
                </div>

                <nav>
                    <span class="res_menu_icon">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </span>
                    <ul class="menu">
                        <li><a href="#home" class="active">Home</a>
                        <li><a href="#action">Features</a>
                        <li><a href="#services">Benefits</a>
                        <li><a href="#purchase_demo">Preview</a>
                        <li><a href="#clients">Clients</a>
                        <li><a href="#contact">Purchase</a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="gredient_border"></div>
    <!--End section-->

    <div class="clearifix"></div>
    <!--Banner Section-->



    <section id="banner">
        <div class="animateLayer">
            <div class="layerLeft">
                <h1 class="grd_text">
                    Let your <strong>theatre</strong><br> Do the
                    talking
                </h1>
                <!--<a href="#" class="ui-btn">Try a free DEMO <i class="icon-ico_plus"></i></a>-->
                <span class="bnr_btn" style="display:block;"><a href="#about" class="ui-btn yellow_Wht">About Sageflick<!--<i class="icon-ico_open_new"></i>--></a></span>
            </div><!---->


            <div class="layerRight">
                <span class="bnr_img1" style="display:block;"><img src="images/monitor1.png"></span>
                <span class="bnr_img3" style="display:block;"><img src="images/phone.png"></span>
                <span class="bnr_img2" style="display:block;"><img src="images/bannerSlide1.png"></span>


            </div><!---->
        </div><!---->

        <div style="clear:both"></div>

        <div>
            <a href="#about" class="down_arrow"><i class="icon-ico_down"></i></a>
        </div>

        <!--ends-->



    </section>
    <!--End Section-->

    <div class="top_reel" align="center"><img src="images/reel_wheel.png" class="wheel"></div>

    <!--SECTION-->
    <section id="about">

        <div class="leftImg" style="background-image:url(images/banner-bg.jpg);"></div>
        <div class="Right_info">
            <h1>Opening doors to a Centralized Cineplex Management</h1>
            <p>SageFlick is an all-powerful theater management system that automates the workflow and operations of a multiplex with much ease. Consisting of a properly managed web portal and thin client application linked with a centralized web server; SageFlick over and above integrates content management system, ticketing, show administration, food ordering, processing, delivery and payment methods. It engages site visitors, disseminates information about the recent releases, upcoming movies and current shows also in other respects.</p>

        </div>

    </section>
    <!--ends-->
    <!--Section Action-->
    <section id="action">
        <h1>Action Starts Right Here</h1>
        <div class="center_info">

            <div class="infos" data-sr="enter left wait 0.9s">
                <i class="icon-ico_plus pop_trigger pop_trigger1"></i><h1>Thin Client<br> Management</h1>
                <div class="info_brief info_brief1">

                    <div class="info_brief_wrap">
                        <figure><img src="images/thinClientIcon.png"></figure>
                        <aside>
                            <h2>Thin Client Management</h2>
                            <h3>at your fingertips</h3>
                            <p>
                                Get more bang for your buck. With SageFlick, windows app, all the tablet users can be managed on the fly. As a cost efficient and an energy saving alternative, the thin client management with an enhanced data security allows you to add, delete or update any information with regards to ticketing, restaurant, kitchen and so on from any touch points by making your work a lot easier. With an effective control over the users, roles and network management, the system doesn't take much effort to build an efficient data storage syncing both the web and thin-client activities on a highly available and foolproof infrastructure.
                            </p>
                        </aside>
                    </div>
                </div>
            </div><!--1-->


            <div class="infos" data-sr="enter left wait 1.4s">
                <i class="icon-ico_plus pop_trigger pop_trigger2"></i><h1>Movie<br> Management</h1>
                <div class="info_brief info_brief2">

                    <div class="info_brief_wrap">
                        <figure><img src="images/movieManagement.png"></figure>
                        <aside>

                            <h2>Movie Management</h2>
                            <h3>pick your flick</h3>

                            <p>
                                The action never stops like in the movies. Movie management as one of the crucial features ensures successful daily theatre operations by adding or removing movie statistics and also administering the shows, release dates and general movie info. Through a much user-friendlier web and thin-client interface, you can now create and schedule movies, monitor their status and manage them on a few clicks within a single module. 
                            </p>
                        </aside>
                    </div>
                </div>
            </div><!--2-->


            <div class="infos" data-sr="enter left wait 1.8s">
                <i class="icon-ico_plus pop_trigger pop_trigger3"></i><h1>Box Office<br> Management</h1>
                <div class="info_brief info_brief3">

                    <div class="info_brief_wrap">
                        <figure><img src="images/BOX-OFFICE.png"></figure>
                        <aside>

                            <h2>Box Office Management</h2>
                            <h3>ticketing made easy</h3>
                            <p>The SageFlick box office management module is a complete solution that enables you to book and sell tickets, packages and add memberships without any trouble. It simplifies the entire ticketing process, booking, cancellation as well as card information. Not only can you now add, update and delete payment methods, but also monitor sales activity and detailed reports to provide better customer service through a customer’s purchase history. </p>
                        </aside>
                    </div>
                </div>
            </div><!--3-->


            <div class="infos" data-sr="enter left wait 2s">
                <i class="icon-ico_plus pop_trigger pop_trigger4"></i><h1>Restaurant<br> Management</h1>
                <div class="info_brief info_brief4">

                    <div class="info_brief_wrap">
                        <figure><img src="images/restaurantMgmnt.png"></figure>
                        <aside>

                            <h2>Restaurant Management</h2>
                            <h3>place your order</h3>
                            <p>
                                Ensuring the best possible entertainment and in-theatre dining experience up for grabs, the food management feature in SageFlick offers services like managing categories, packages, menu items and refreshment messages. The system cautiously makes sure that foods, beverages and movies go hand in hand the whole time. Letting you add, update and remove new menu items, refreshment ticket messages, food categories and orders; the system additionally gives a special emphasis to distinct packages and set of choices.


                            </p>
                        </aside>
                    </div>
                </div>
            </div><!--4-->


            <div class="infos" data-sr="enter right wait 2.9s">
                <i class="icon-ico_plus pop_trigger pop_trigger5"></i><h1>Inventory<br> Management</h1>
                <div class="info_brief info_brief5">

                    <div class="info_brief_wrap">
                        <figure><img src="images/inventoryIcon.png"></figure>
                        <aside>

                            <h2>Inventory Management</h2>
                            <h3>stock meter</h3>
                            <p>
                                Track and manage all your stock levels across your theaters now with the SageFlick inventory management. Having an all-inclusive solution to your backend operations, you get a comprehensive tracking of all the inventory orders, sales and deliveries. Stock management, stock recorder, stock check out more precisely allows you to create a work order, bill of materials and other production-related documents. Not just a tool to organize inventory data in the form of spreadsheets, the module also helps you gain a real-time and in-depth view into key supplier, inventory and workplace performance indicators.
                            </p>
                        </aside>
                    </div>
                </div>
            </div><!--5-->


            <div class="infos" data-sr="enter right wait 3.4s">
                <i class="icon-ico_plus pop_trigger pop_trigger5"></i><h1>Vendor <br> Management</h1>
                <div class="info_brief info_brief5">

                    <div class="info_brief_wrap">
                        <figure><img src="images/VENDORiCON.png"></figure>
                        <aside>
                            <h2>Vendor  Management</h2>
                            <h3>set your suppliers</h3>
                            <p>Enabling your theater to control costs, bring about service excellence, and reduce the risks to gain increased value from the suppliers, Vendor management determines the number of your service providers and establishes a mechanism that best fits your multiplex. Information pertaining to all the vendors can be added, deleted or updated by the administrator within the system. This not only lets you keep an account of your marketer, but also puts all the information at your easy access. </p>
                        </aside>
                    </div>
                </div>
            </div><!--6-->


            <div class="infos" data-sr="enter right wait 4s">
                <i class="icon-ico_plus pop_trigger pop_trigger5"></i><h1>Sales and<br> Report</h1>
                <div class="info_brief info_brief5">

                    <div class="info_brief_wrap">
                        <figure><img src="images/salesReport.png"></figure>
                        <aside>

                            <h2>Sales and Report Management</h2>
                            <h3>get your bills printed</h3>
                            <p>With SageFlick theatre solutions, your real-time reports of all the transactions can either be fetched as a by-product of daily data entry or by means of ad hoc reporting based on the report type and the date selected by the users themselves. Since it is one of the most useful tools in theater management, the reporting functionality comes to embrace a set of modular reports that are enquired for on a regular basis. Adding sales, viewing their particulars like customers’ name, address, contact, address and so on are some of its extra functionalities. </p>
                        </aside>
                    </div>
                </div>
            </div><!--7-->


            <div class="infos" data-sr="enter right wait 4.6s">
                <i class="icon-ico_plus pop_trigger pop_trigger5"></i><h1>Theatre<br> Settings</h1>
                <div class="info_brief info_brief5">

                    <div class="info_brief_wrap">
                        <figure><img src="images/theaterICon.png"></figure>
                        <aside>
                            <h2>Theatre Settings</h2>
                            <h3>customize your experience</h3>
                            <p>Once you maintain your proper theater settings with SageFlick, there is no any chance of falling back. Not only can you add, update and remove theaters, screens and screen seats; you can also now send a bulk of mails in a single shot to your subscribed users with mass mail option. As an open gateway in digitizing the theaters, the system ensures a fully digital infrastructure with the highest level of integration available in the present market. </p>
                        </aside>
                    </div>
                </div>
            </div><!--8-->


            <div class="moniter">
                <!-- Slideshow 2 -->
                <div class="rslides_container">
                    <ul class="rslides" id="slider2">
                        <li><img id="sageflick" src="images/sageflick.gif" alt=""></li>
                        <!--<li><img src="images/3.jpg" alt=""></li>-->
                    </ul>
                </div>
            </div><!--silderPart-->
        </div>

        <div class="clearifix"></div>
    </section>
    <!--End Section-->
    <!--section-->
    <section id="services">
        <h1>Customers at your Beck and Call</h1>

        <div class="centerDiv chair">
            <div class="left_services">

                <a href="#" data-featherlight="#pop1">
                    <div class="service_item" data-sr="enter left wait 0.4s">

                        <span class="service_icon">
                            <div class="transparent_bg">
                                <i><img src="images/workflowIcon.svg"></i>
                            </div>
                        </span>

                        <span class="service_info">
                            <h3>Workflow<br>Automation</h3>
                            <p>Workflow automation puts all your skills into effect by bringing your theater development practice to</p>

                            <!---->
                            <div class="lightbox" id="pop1">
                                <h1>Workflow Automation</h1>
                                <h2>system on the fly</h2>
                                <p>
                                    Workflow automation puts all your skills into effect by bringing your theater development practice to life through desktops, mobiles and tablets. As a process encompassing many small tasks linking together to achieve desired result, Sageflick syncs both the web and thin-client activities making the work process automated using a centralized web server. Every time you book a ticket or order foods from any touchpoint, the centralized server recognizes the message and automatically sends the request to all the concerned clients.
                                </p>
                                <br>
                            </div>
                            <!---->


                        </span>
                        <div class="clearifix"></div>
                    </div>
                </a><!--services_item-->


                <a href="#" data-featherlight="#pop2">
                    <div class="service_item" data-sr="enter left wait 0.7s">

                        <span class="service_icon">
                            <div class="transparent_bg">
                                <i class="icon-setting"><img src="images/scaleIcon.svg" style="width:40%;"></i>
                            </div>
                        </span>

                        <span class="service_info">
                            <h3>Scalability </h3>
                            <p>SageFlick holds the capability to cope and perform under an increased or expanding workload likewise functioning well under differing circumstances. </p>

                            <!---->
                            <div class="lightbox" id="pop2">
                                <h1>Scalability</h1>
                                <h2>accommodate your growing needs</h2>
                                <p>
                                    SageFlick holds the capability to cope and perform under an increased or expanding workload likewise functioning well under differing circumstances. In keeping up with your growing needs and requirements, the system maintains its level of performance even when tested by larger operational demands. Not only does it continue to function well with the change in its size or volume so as to meet your needs, but also adapts to such deviations without any alterations in its core functionality.

                                </p>
                                <br>
                            </div>
                            <!---->



                        </span>
                        <div class="clearifix"></div>
                    </div>
                </a><!--services_item-->


                <a href="#" data-featherlight="#pop3">
                    <div class="service_item" data-sr="enter left wait 1s">
                        <span class="service_icon">
                            <div class="transparent_bg">
                                <i class="icon-setting"><img src="images/flexibleIcon.svg" style="width:45%;"></i>
                            </div>
                        </span>

                        <span class="service_info">
                            <h3>Flexible<br>ticketing </h3>
                            <p>SageFlick ticketing solution incorporates real time box office ticketing into online ticketing with one easy-going system to use.</p>
                            <!---->
                            <div class="lightbox" id="pop3">
                                <h1>Flexible ticketing </h1>
                                <h2>rolling with the tickets</h2>
                                <p>
                                    SageFlick ticketing solution incorporates real time box office ticketing into online ticketing with one easy-going system to use. When you choose SageFlick, you don’t have to worry about any reasonable alternative ticketing solutions. Up with the show booking, cancellation and basic card info, your tickets are just a few clicks away. Once you make a move with our ticketing system, you won’t look back for sure. So what’s all the wait for? Let the show begin.
                                </p>
                                <br>
                            </div>
                            <!---->
                        </span>
                        <div class="clearifix"></div>
                    </div>
                </a><!--services_item-->


            </div><!--left_services-->


            <div class="Right_services">

                <a href="#" data-featherlight="#pop4">
                    <div class="service_item" data-sr="enter right wait 0.4s">

                        <span class="service_icon">
                            <div class="transparent_bg">
                                <i class="icon-setting"><img src="images/autoFoodIcon.svg" style="width:45%;"></i>
                            </div>
                        </span>

                        <span class="service_info">
                            <h3>Automated<br>food service</h3>
                            <p>What could be more fun than a perfect combination of the cuisine and cocktail options inside a movie theater? </p>
                            <!---->
                            <div class="lightbox" id="pop4">
                                <h1>Automated food service</h1>
                                <h2>orders in full swing</h2>
                                <p>
                                    What could be more fun than a perfect combination of the cuisine and cocktail options inside a movie theater? Yes, to fulfil that fun and excitement of yours here we come with an automated food service. If you are in a mood to order your desired foods and beverages on your own, have it easily done with the windows app on the tablet. Both the options for extensive menus and seat-side service are at your sole fingertips now.
                                </p>
                                <br>
                            </div>
                            <!---->
                        </span>

                        <div class="clearifix"></div>
                    </div>
                </a><!--services_item-->


                <a href="#" data-featherlight="#pop5">
                    <div class="service_item" data-sr="enter right wait 0.7s">

                        <span class="service_icon">
                            <div class="transparent_bg">
                                <i class="icon-setting"><img src="images/couponIcon.svg" style="width:40%;"></i>
                            </div>
                        </span>


                        <span class="service_info">
                            <h3>Cards & <br>Coupons</h3>
                            <p>Not that the offers are only limited to ticketing and food services. With SageFlick schemes of different cards and coupons</p>
                            <!---->
                            <div class="lightbox" id="pop5">
                                <h1>Cards &  Coupons</h1>
                                <h2>vouchers in handy</h2>
                                <p>
                                    Not that the offers are only limited to ticketing and food services. With SageFlick schemes of different cards and coupons, your overall theatric experience is certainly going to double up. Amazing it feels to get rewarded for watching your favorite movies, right? Yes, the fun and excitement of enjoying the movies now come with benefits like discount cards and free coupons too. All you have to do is keep watching movies and leave the rest for us. Free tickets definitely are on your way.
                                </p>
                                <br>
                            </div>
                            <!---->



                        </span>

                        <div class="clearifix"></div>
                    </div>
                </a><!--services_item-->


                <a href="#" data-featherlight="#pop6">
                    <div class="service_item" data-sr="enter right wait 1s">

                        <span class="service_icon">
                            <div class="transparent_bg">
                                <i class="icon-setting"><img src="images/notificationIcon.svg" style="width:35%;"></i>
                            </div>
                        </span>

                        <span class="service_info">
                            <h3>Real-time<br>notification</h3>
                            <p>With a superb user engagement element integrated in SageFlick, you can now drive your way to make sure everything</p>
                            <!---->
                            <div class="lightbox" id="pop6">
                                <h1>Real-time notification</h1>
                                <h2>signalR implementation</h2>
                                <p>
                                    With a superb user engagement element integrated in SageFlick, you can now drive your way to make sure everything that’s happening in the theater is as real time as possible. Not just email notifications but for the real time updates, we let you with the real-time push notifications to be directly delivered, regardless of any place, time and mobile, tablet or media device that you’re happen to be using. The real time notification system in SageFlick therefore is without any doubt the biggest game changer in the theater management history.
                                </p>
                                <br>
                            </div>
                            <!---->

                        </span>

                        <div class="clearifix"></div>
                    </div>
                </a><!--services_item-->


            </div><!--right_services-->
            <div class="clearifix"></div>
        </div>

        <div class="clearifix"></div>
    </section>
    <!--End Section-->
    <!-- section-->
    <section id="purchase_demo">
        <div class="current_div">
            <div class="poligon1"><img src="images/poligon-img1.png"></div>
            <div class="poligon2"><img src="images/poligon-img2.png"></div>


            <div class="theater_img">
                <object>
                    <embed src="theater.svg"></embed>
                </object>
            </div>
            <h1 data-sr="enter top wait 0.4s">
                If you’ve got the time,<br>
                we’ve got the theater
            </h1>
            <a href="javascript:;" class="ui-btn sneakPreview" data-sr="enter left wait 1.1s">Sneak Preview</a>
            <a href="#contact" class="ui-btn yellow_btn" data-sr="enter right wait 1.2s">Purchase</a>
            <div class="clearifix"></div>
        </div>

        <div class="show_slider">
            <div class="closeBtn"><i class="icon-ico_cross"></i></div>

            <div id="cbp-fwslider" class="cbp-fwslider">

                <h1>Web Application</h1>

                <ul>
                    <li><a href="#"><img src="carousel/images/shoot1.png" alt="img01" /></a></li>
                    <li><a href="#"><img src="carousel/images/shoot2.png" alt="img02" /></a></li>
                    <li><a href="#"><img src="carousel/images/shoot3.png" alt="img03" /></a></li>
                    <li><a href="#"><img src="carousel/images/foodscreen.png" alt="img04" /></a></li>
                </ul>
            </div>


            <div id="cbp-fwslider2" class="cbp-fwslider">

                <h1>Desktop App</h1>

                <ul>
                    <li><a href="#"><img src="carousel/images/tab1.png" alt="" /></a></li>
                    <li><a href="#"><img src="carousel/images/tab2.png" alt="" /></a></li>
                    <li><a href="#"><img src="carousel/images/tab3.png" alt="" /></a></li>
                </ul>
            </div>


        </div>


    </section>
    <!--End Section-->
    <!--Section>-->
    <section id="clients">

        <div class="client_title">
            <h1>Clients</h1>
        </div>

        <div class="clients_list">
            <div id="client_list_wrap">
                <div id="owl-demo" class="owl-carousel">

                    <div class="item"><a href="http://www.omaxcinema.com.np/" target="_blank"><img src="images/omax.png"></a></div>
                    <div class="item"><a href="http://nscinemas.com/" target="_blank"><img src="images/ns.png"></a></div>
                    <div class="item"><a href="http://www.viewcinemas.com.np/" target="_blank"><img src="images/viewcinema.png"></a></div>
                    <div class="item"><a href="http://www.pokharacineplex.com/" target="_blank"><img src="images/cineplex.png"></a></div>
                    <div class="item"><a href="http://www.indradevcm.com/" target="_blank"><img src="images/indradev.png"></a></div>
                    <div class="item"><a href="http://www.icinemanepal.com/" target="_blank"><img src="images/icinema.png"></a></div>
                    <div class="item"><a href="http://www.citymaxcinemas.com/" target="_blank"><img src="images/citymax.png"></a></div>

                </div>
            </div>
        </div>

    </section>
    <!--End Section-->
    <!--Section-->
    <section id="contact">
        <div class="contact_reel" align="center"><img src="images/reel_wheel.png" class="wheel" width="84" height="84"></div>
        <h1>Request a Quote</h1>
        <p>Fill out the form below stating all your requirements and <br>we will get back to you asap.</p>
        <form>
            <div class="contact_form">
                <div class="frm_lft">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                    <input type="address" placeholder="Address">
                </div>

                <div class="frm_rght">
                    <textarea placeholder="Message"></textarea>
                </div>

                <div align="center"><button type="submit">send</button></div>


            </div>
        </form>


        <div class="bottom_desk_wrapper">
            <div class="bottom_contact_desk">



                <span class="web hoverAction">
                    <span class="webIcon allIcons"><i class="icon-ico_phn opacity30"></i></span>
                    <span class="ticker">
                        <a href="tel:+977-9801462814">+9779801462814</a>
                    </span>
                </span>

                <span class="address hoverAction">
                    <span class="address_icon allIcons"><i class="icon-ico_location"></i></span>
                    <span class="ticker">
                        Bakhundole Pulchowk,<br>
                        Lalitpur Nepal
                    </span>
                </span>

                <span class="email hoverAction">
                    <span class="address_icon allIcons"><i class="icon-ico_msg"></i></span>
                    <span class="ticker">
                        <a href="mailto:sales@Sageflick.com">sales@Sageflick.com</a>
                    </span>
                </span>

                <div class="clearifix"></div>



            </div>
        </div><!--ends-->
        <div class="clearifix"></div>

    </section>

    <!--End SEction-->
    <!--Section-->
    <section id="contact_no">
        <h1>
            Hundreds of theaters<br>
            <strong>one simple solution</strong>
        </h1>
        <!--<center>
             <div class="social">
                 <a href="#"><i class="icon-ico_fb"></i></a>
                 <a href="#"><i class="icon-ico_tw"></i></a>
                 <a href="#"><i class="icon-ico_gplus"></i></a>
                 <a href="#"><i class="icon-ico_yt"></i></a>
             </div>
         </center>-->

    </section>

    <!--End Section-->
    <!--Section-->

    <section id="copyright">

        <center>
            <span class="copyright_reel">
                <div class="copyright_wheel">
                    <img src="images/reel_wheel.png" class="wheel" width="84" height="84">
                </div>
            </span>
        </center>

        © 2015 SAGEFLICK

    </section>

    <!--End Section-->
    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/modernizr.js"></script>




    <!--one by one slider-->
    <!--<script src="js/jquery.1.8.2.min.js"></script>
    <script src="js/jquery.onebyone.min.js"></script>
    <script src="js/jquery.touchwipe.min.js"></script>
        <script type="text/javascript" charset="utf-8">
         $(document).ready(function() {

            $('#example2').oneByOne({
                className: 'oneByOne2',
                easeType: '',
                showArrow: false,
                pagination:true
            });

         });


    </script>-->


    <script type="text/javascript">
        $(function () {

            $(".pop_trigger").click(function () {
                $(this).parent(".infos").addClass("active_info")

                if ($(this).hasClass("rotate_cross")) {
                    $(".pop_trigger").removeClass("rotate_cross");
                    $("div.info_brief").slideUp(600);
                }
                else {
                    //other opened divs
                    $(".pop_trigger").removeClass("rotate_cross");
                    $("div.info_brief").slideUp(600);

                    //click on this
                    $(this).siblings("div.info_brief").slideDown(600);
                    $(this).addClass('rotate_cross');

                }
            });


        });


        ////
        $(".res_menu_icon").click(function () {
            $("ul.menu").slideToggle(500);
            $(this).toggleClass('closeMenu');

        });

        var width = $(window).width();
        if ((width < 1024)) {

            $("ul.menu li a").click(function () {
                $("ul.menu").slideToggle(500);
            });




        }

    </script>

    <!--Slider-->

    <script src="slider/responsiveslides.min.js"></script>
    <script>
        // Slideshow 2
        $("#slider2").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            maxwidth: 800,
            namespace: "transparent-btns"
        });
    </script>

    <!--Scroll Reveal Js-->
    <script src="js/scrollReveal.js"></script>
    <script type="text/javascript">
        (function ($) {

            'use strict';

            window.sr = new scrollReveal({
                reset: true,
                move: '50px',
                mobile: true
            });

        })();
    </script>


    <!-- Add venobox -->
    <script type="text/javascript" src="js/venobox.min.js"></script>
    <script>
        $(document).ready(function () {

            /* default settings */
            $('.venobox').venobox();


            /* custom settings */
            $('.venobox_custom').venobox({
                framewidth: '400px',        // default: ''
                frameheight: '300px',       // default: ''
                border: '10px',             // default: '0'
                bgcolor: '#5dff5e',         // default: '#fff'
                titleattr: 'data-title',    // default: 'title'
                numeratio: true,            // default: false
                infinigall: true            // default: false
            });

            /* auto-open #firstlink on page load */
            $("#firstlink").venobox().trigger('click');
        });
    </script>


    <!--Owl Carousel-->
    <script src="owl-carousel/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {

            var owl = $("#owl-demo");

            owl.owlCarousel({

                // Define custom and unlimited items depending from the width
                // If this option is set, itemsDeskop, itemsDesktopSmall, itemsTablet, itemsMobile etc. are disabled
                // For better preview, order the arrays by screen size, but it's not mandatory
                // Don't forget to include the lowest available screen size, otherwise it will take the default one for screens lower than lowest available.
                // In the example there is dimension with 0 with which cover screens between 0 and 450px

                itemsCustom: [
                    [0, 2],
                    [450, 2],
                    [600, 2],
                    [700, 3],
                    [1000, 3],
                    [1200, 3],
                    [1400, 3],
                    [1600, 3]
                ],
                navigation: false,
                autoPlay: true

            });



        });
    </script>








    <!--Service PopUp-->
    <script src="service-popup/featherlight.min.js" type="text/javascript" charset="utf-8"></script>


    <!--Menu click to the ID-->
    <script type="text/javascript">
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top - 40
                        }, 1000);
                        $('#sageflick').attr("src", "images/sageflick.gif");
                        return false;
                    }
                }
            });
        });
    </script>



    <!--onClick Slide DIV from left-->
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
        $(".sneakPreview").click(function () {
            $(".show_slider").toggle('slide', { direction: 'left' }, 200);
        });

        $(".closeBtn").click(function () {
            $(".show_slider").toggle('slide', { direction: 'left' }, 200);
        });
    </script>



    <!--Text Gradient color-->
    <!--<script type="text/javascript" src="js/pxgradient-1.0.3.js"></script>
     <script type="text/javascript">
        $(document).ready(function() {
            $('.grd_text').textgrad({
                maxGroup: 1,
                type: '_',
                begin: 'f1b511',
                end: '48b588'
            });

        });
    </script>-->

    <script>
        $(document).ready(function () {

            $(function () {
                $('nav ul li a').on('click', function () {
                    $('nav ul').find('.active').removeClass('active');
                    $(this).addClass('active');
                });
            });
            $(window).scroll(function (event) {
                var scrollPos = $(document).scrollTop();
                $('nav ul li a').each(function () {
                    var currLink = $(this);
                    var refElement = $(currLink.attr("href"));


                    if (refElement.position().top - 80 <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
                        $('nav ul li a').removeClass("active");
                        currLink.addClass("active");
                        $('#sageflick').attr("src", "images/sageflick.gif");
                    }
                    else {
                        currLink.removeClass("active");
                    }
                });
            });

        });
    </script>


    <!--Resize Heaer-->
    <!-- js -->
    <script>
        $(function () {
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();

                if (scroll >= 500) {
                    $("#header").addClass('smaller');
                } else {
                    $("#header").removeClass("smaller");
                }
            });
        });
    </script>


    <!--Carousel-->

    <script src="carousel/js/jquery.cbpFWSlider.min.js"></script>
    <script>
        $(function () {
            /*
            - how to call the plugin:
            $( selector ).cbpFWSlider( [options] );
            - options:
            {
                // default transition speed (ms)
                speed : 500,
                // default transition easing
                easing : 'ease'
            }
            - destroy:
            $( selector ).cbpFWSlider( 'destroy' );
            */

            $('#cbp-fwslider').cbpFWSlider();

            $('#cbp-fwslider2').cbpFWSlider();

        });
    </script>


    <!--Scroll to top-->
    <script src="js/scrolltopcontrol.js"></script>
    <script>

    </script>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>